<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>
    <system.web>
        <compilation debug="true" />
    </system.web>
    <!-- Lors du déploiement du projet de bibilothèque de services, le contenu du fichier de configuration doit être ajouté au fichier app.config  
    de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration des bibliothèques. -->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Big" 
                         maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                                  maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                                  maxNameTableCharCount="2147483647" />
                </binding>
            </basicHttpBinding>
            <webHttpBinding>
                <binding name="Big" 
                         maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                                  maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                                  maxNameTableCharCount="2147483647" />
                </binding>
            </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ProxyCache/Service1/"
                binding="basicHttpBinding" bindingConfiguration="Big"
                contract="ProxyService.IProxy" name="BasicHttpBinding_IProxy" />
        </client>
        <services>
            <service name="Router.RoutingService">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Router/RoutingService/" />
                    </baseAddresses>
                </host>
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Big" 
                          contract="Router.IRoutingService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
				
                <endpoint address="rest/" binding="webHttpBinding" bindingConfiguration="Big"
                          contract="Router.IRoutingService"
                          behaviorConfiguration="RestConfig" />
				
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                
            </service>
        </services>
        <extensions>
            <behaviorExtensions>
                <add name="corsBehavior" type="Router.EnableCrossOriginResourceSharingBehavior, Router" />
            </behaviorExtensions>
        </extensions>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- Pour éviter la divulgation d'informations de métadonnées, 
                    définissez les valeurs ci-dessous sur false avant le déploiement -->
                    <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
                    <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, 
                    définissez la valeur ci-dessous sur true.  Pour éviter la divulgation d'informations d'exception, 
                    définissez-la sur false avant le déploiement -->
                    <serviceDebug includeExceptionDetailInFaults="False" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="RestConfig">
					<corsBehavior />
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.web>
        <globalization culture="" />
    </system.web>
</configuration>